.shown{
  display: flex;
  position:fixed;
  flex-direction:column;
  inset: 0 0 0 85%;
  background-color: hsla(180, 20%, 94%, 0.512);
  backdrop-filter: blur(.25rem);
  visibility: visible;
  transition: all .7s ease-in-out
  
}

.hidden {
  display: flex;
  position:fixed;
  flex-direction: column;
  align-items: center;
  background-color: hsla(180, 20%, 94%, 0.512);
  backdrop-filter: blur(.25rem);
  inset: 0% 0 0 100%;
  transition: all .7s ease-in-out

}

.first-render {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  background-color: hsla(180, 20%, 94%, 0.512);
  backdrop-filter: blur(.25rem);
  inset: 0 0 0 100%;
  
}

.menu-icon .menu-open {
  color: rgb(238, 13, 133);
  margin-top: 1rem;
  margin-right: 3rem;
  font-size: 30px;
  animation: fadeIn;
  animation-duration: 02s;
}

.menu-close {
  color: rgb(238, 13, 133);
  margin-inline-end: 100rem;
  font-size: 30px;
  animation: fadeIn;
  animation-duration: 02s;
}



.ul-item {
  overflow: visible;
  font-size: 30px;
  font-family: Courgette;
  color: rgb(106, 160, 202);
  list-style: none;
  padding: unset;
  
}
.ul-item-hidden {
  display: none;
}

.li-hide {
  animation: fadeOut;
  animation-duration: 10s;
}
.li-item {
  position: relative;
  margin-bottom: 10px;
  animation: fadeIn 4s;

}

.link-text {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: rgb(238, 13, 133);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* @keyframes slide {
  100%  { left:85vw;}
  0% { left: 100vw; }
  
}

@keyframes slideback {
  0%  { left:85vw;}
  100% { left: 100vw; }
  
} */

@keyframes fadeOut {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
