

.shown {
  display: flex;
  position: fixed;
  flex-direction: column;
  inset: 0 0 0 85%;
  background-color: hsla(180, 20%, 94%, 0.512);
  backdrop-filter: blur(.25rem);
  
}

.hidden {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  inset: 0 0 0 95%;
  
}

.menu-icon {
  margin-inline: 1rem;
}

.menu-icon .menu-open {
  color: rgb(238, 13, 133);
  margin-block: 1rem;
  font-size: 30px;
  
  
}

.menu-close {
  color: rgb(238, 13, 133);
  margin-inline-end: 100rem;
  font-size: 30px;
  animation: fadeIn;
  animation-duration: 02s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



@media (max-width: 900px) {
  .header-mobile {
    inset: 0 90% 0 0;
    justify-content: center;
  }
}