.shown{
  display: flex;
  position: fixed;
  flex-direction: column;
  inset: 0 0 0 90%;
  background-color: hsla(180, 20%, 94%, 0.512);
  backdrop-filter: blur(.25rem);
  animation: slide ease 2s forwards;
  
}


.hidden {
  display: flex;
  position:fixed;
  flex-direction: column;
  align-items: center;
  background-color: hsla(180, 20%, 94%, 0.512);
  backdrop-filter: blur(.25rem);
  inset: 0 0 0 100%;
  animation: slideback ease 2s forwards;
  
  
}



.menu-icon .menu-open {
  color: rgb(238, 13, 133);
  margin-top: 1rem;
  margin-right: 3rem;
  font-size: 30px;
  animation: fadeIn;
  animation-duration: 02s;
  
  
}

.menu-close {
  color: rgb(238, 13, 133);
  margin-inline-end: 100rem;
  font-size: 30px;
  animation: fadeIn;
  animation-duration: 02s;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide {
  100%  { left:85vw;}
  0% { left: 100vw; }
  
}

@keyframes slideback {
  0%  { left:85vw;}
  100% { left: 100vw; }
  
}
