

.box {
  height: 100vh;
  overflow: hidden;
  border: none;
  background: url(assets/sky.png);
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.sub { 
  vertical-align: sub; 
  font-size:medium;


}

#logo {
  border: none;
  background: none;
  
  font-size: 100px;
  animation: fadeIn ease 5s forwards;
  animation-delay: 1.5s;
  opacity: 0;
  position: absolute;
  top:40%;
  left: 45%;
  font-family: Courgette;
  color: rgb(238, 13, 133);
  
}


.mtn-box{
  
  position: relative;
  animation-name: rise;
  animation-duration: 6s;
  animation-delay: -2s;
  padding-top: 12%;
  text-align:center
}

@keyframes rise {
  0%   {bottom:-100vh;}
  100% {bottom:0vh}
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
