body{
  background-image: url(assets/wall_with_logo.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  min-height: 100vh;
}

h1 {
  
  font-size: 100px;

}



.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}




 
